<input type="checkbox"
       class= "form-check-input bg-danger"
       <% if clan_member.is_active %> checked <% end %> >
<label class="form-check-label"><%= clan_member.is_active ? "Desactivar" : "Activar" %></label>

