<h1><%= t('views.tournaments.my_agenda') %></h1>
<% @resources.each do |registration| %>
  <%= render 'tournament', tournament: registration.tournament if registration.active && registration.tournament.active? %>
<% end %>
