<h1>Tournaments#my agenda</h1>
<p>Find me in app/views/tournaments/my_agenda.html.erb</p>
<% @resources.each do |registration| %>
  <%= render 'tournament', tournament: registration.tournament if registration.active && registration.tournament.active? %>
<% end %>
