<h1>Welcome to ƛƤC</h1>
<p>These are the active tournaments in which you can participate</p>

<style>
    .list-group-item {border-color: #333 !important;padding-top: 1%;}
</style>

<ul class="list-group list-group-flush col-12 col-md-6 col-lg-9 col-lg-3">
  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Duos tournament BR</div>
      22-jun-22
    </div>
    <div class="d-flex flex-column align-items-center">
      <span class="badge bg-primary rounded-pill py-2 px-3 mb-2 font-weight-light fs-6">23 players</span>
      <div class="flex-row">
        <span class="badge bg-success rounded-pill font-weight-light py-1 px-2">Play</span>
        <span class="badge bg-danger rounded-pill font-weight-light py-1 px-2">Drop out</span>
      </div>
    </div>
  </li>
  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Single tournament BR</div>
      22-jun-22
    </div>
    <div class="d-flex flex-column align-items-center">
      <span class="badge bg-primary rounded-pill py-2 px-3 mb-2 font-weight-light fs-6">35 players</span>
      <div class="flex-row">
        <span class="badge bg-success rounded-pill font-weight-light py-1 px-2">Play</span>
        <span class="badge bg-danger rounded-pill font-weight-light py-1 px-2">Drop out</span>
      </div>
    </div>
  </li>
  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">MP tournament</div>
      23-jun-22
    </div>
    <div class="d-flex flex-column align-items-center">
      <span class="badge bg-primary rounded-pill py-2 px-3 mb-2 font-weight-light fs-6">18 players</span>
      <div class="flex-row">
        <span class="badge bg-success rounded-pill font-weight-light py-1 px-2">Play</span>
        <span class="badge bg-danger rounded-pill font-weight-light py-1 px-2">Drop out</span>
      </div>
    </div>
  </li>
</ul>

<p class="my-3">You must be logged in to register for a tournament</p>
<p>If you have registered, don't leave your partner behind! If you won't be able to ship to war, unregister 2 days before!</p>
<br><br>

<div id="carouselExampleControls" class="carousel slide w-25" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i0.wp.com/gamingonphone.com/wp-content/uploads/2021/07/IMG_4427.jpg?w=1000&ssl=1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i0.wp.com/gamingonphone.com/wp-content/uploads/2021/08/COD-Mobile-MX9.jpg?w=1428&ssl=1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i0.wp.com/gamingonphone.com/wp-content/uploads/2021/07/IMG_4476.jpg?w=1000&ssl=1" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br><br>
